@import url('https://fonts.googleapis.com/css?family=Montserrat:light,regular,medium,semibold,bold&subset=latin,latin-ext');

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  color: #FFFFFF;
  align-items: center;
  word-wrap: break-word;
  font-family: 'Montserrat', san-serif;
}

.title {
  color: #FFFFFF;
  word-wrap: break-word;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

.prime-number-checker {
  margin: 20px 0;
  text-align: center;
  background: #FFFFFF2e;
  border-radius: 6px;
  padding: 30px;
}

h1, h2 {
  margin: 0;
}

.description {
  font-size: 14px;
  font-weight: 300;
}

.result {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.btns {
  margin: 15px 0;
}

.prime-check-btn {
  width: fit-content;
  margin: 0px 5px;
  border: #FFFFFF solid 1.5px;
  background: none;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}

.change-color-btn {
  width: fit-content;
  border: none;
  background: white;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
}

button {
  box-shadow: 0 3px rgba(0,0,0,0.2);
  transform: translateY(0px);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  outline: none;
  font-family: 'Montserrat', san-serif;
  font-size: 14px;
  padding: 10px 15px;
}

button:hover {
  opacity: 0.6;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 0 rgba(0,0,0,0.2);
}
